.banner {
  margin-top: 60px;
  margin-left: 120px;
  margin-right: 120px;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerImg {
  margin-top: 40px;
  width: 550px;
  height: auto;
  object-fit: cover;
}

.text {
  max-width: 500px;
}

h1 {
  margin-top: 125px;
  font-family: "Noto-serif";
  font-size: 60px;
  margin-bottom: 10px;
}

.blacktxt {
  color: rgba(0, 0, 0, 0.879);
}

.orangetxt {
  color: #e95a08;
}

p {
  padding-top: 20px;
  color: darkslategrey;
  font-size: 17px;
}
/* Mobile version code below: */
@media (max-width: 430px){
  .banner {
    flex-direction: column-reverse;
    margin: 0px;
    height: auto;
    text-align: center;
  }

 .bannerImg {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  } 

  .text {
    margin-top: 5px;
    text-align: left;
  }

  h1 {
    margin-top: 20px;
    font-size: 36px;
  }

  p {
    font-size: 15px;
  }
}
