.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin:15px 75px;
}
img{
    height: 60px;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 13px;
}
li a{
    text-decoration: none;
    color: darkslategray;
}
li a:hover{
    color: rgba(0, 0, 0, 0.879);
    font-weight: 600;
    transition: 0.5s;
}
/* Mobile version code below: */
@media (max-width: 500px) {
    .navBar {
        margin: 5px 20px; 
    }
    img{
        height: 50px;
    }

    ul {
        width: 100%;
        justify-content: flex-end;
    }

    ul li {
        display: none; 
    }

    ul li:last-child {
        display: block;
        padding-top:10px;
    }

    ul li:last-child a {
        font-size: 15px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    ul li:last-child a:hover {
        font-weight: 500;
        color:rgba(0, 0, 0, 0.879);
        transition: 0.5s;
    }
}